.calcualteBtn {
  margin: 30px 0;
}

.exerciseBlock {
  font-size: 16px;
  font-family: 'Exo 2', sans-serif;
  margin-bottom: 20px;
  .labelApproach {
    margin: 5px 0;
  }
  .nameOfExercise {
    font-size: 18px;
    font-weight: 600;
  }
}
